[Unit]
Description=Matecat TmAnalysis
After=network.target
After=redis-server.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
TimeoutStopSec=10
User=www-data
Group=www-data
# For proxy detection
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/php @WWWDIR@/daemons/TmAnalysis.php @WWWDIR@/inc/task_manager_config.ini
Restart=on-failure
